1024_2096/model/EfficientNetB0/model_EfficientNetB0_400/variables/variables.data-00000-of-00001
1024_2096/model/EfficientNetB0/model_EfficientNetB0_BEST/variables/variables.data-00000-of-00001
2096_1024/model/EfficientNetB0/model_EfficientNetB0_400/variables/variables.data-00000-of-00001
2096_1024/model/EfficientNetB0/model_EfficientNetB0_BEST/variables/variables.data-00000-of-00001
